/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
 */
/* .task-detail-dark {
  background-color: #121212;
  color: #ffffff;
  min-height: 100vh;
  padding: 2rem;
}

.task-detail-dark table {
  background-color: #1e1e1e;
  color: #ffffff;
}

.task-detail-dark th,
.task-detail-dark td {
  border-color: #444;
}

.task-detail-dark table.table-sm {
  background-color: #1e1e1e;
} */

/* 增加底部留白 */
body {
  padding-bottom: 80px; 
}

.footer-fixed-bottom {
  height: 60px;
  line-height: 60px;
  padding-bottom: 10px;
}

/* -----------切換白天夜晚模式--------------- */

body.dark-theme {
  background-color: #252525;
  color: #ffffff;
}

body.dark-theme table {
  background-color: #1e1e1e;
  color: #ffffff;
}

body.dark-theme th,
body.dark-theme td {
  border-color: #444;
}

body.light-theme {
  background-color: #ffffff;
  color: #000000;
}

body.light-theme table {
  background-color: #ffffff;
  color: #000000;
}

body.light-theme th,
body.light-theme td {
  border-color: #ccc;
}

/* 按鈕樣式 */
button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #555;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #333;
}

/* Footer styles */
.footer-fixed-bottom {
  color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #444;
  z-index: 100;
  border-top: 1px solid #444;
}

/* 讓表格寬度接近容器最大寬度 */
.table-responsive {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.table {
  width: 100%;
  min-width: 1200px; /* 讓表格最小寬度大一點 */
}

/* 高亮更新的任務 */
.updated-task-row {
  background: #ffeeba !important;
}