<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/bass.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/bassnew.css') }}">
</head>

<body>
    <div class="loginWrapper">
        <form action="/qrcode" method="post">
            <div class="loginContent">
                <div class="loginRow">
                    <div class="loginLabel">網址</div>
                    <div class="logininput">
                        <input data-val="true" data-val-required="內容未輸入." id="url" name="url"
                            placeholder="請輸入網址" type="text" value="" />
                    </div>
                </div>
                <div class="loginRow">
                    <button class="loginBtn" type="submit"><span>轉換</span></button>
                </div>
            </div>
        </form>
    </div>
    <div class="container">
        <p><img src="{{ img }}" alt="QR Code"></p>
        <p><img src="/qrcode/123456789" alt="QR Code"></p>
    </div>
</body>
</html>        
